@use '../includes/classes';
@use '../includes/colors' as color;
@use '../includes/mixins' as mx;
@use '../includes/typography' as font;
@use '../includes/variables' as var;

.dashboard-container {
  min-height: 100%;
  @include mx.flexColCenter();
  padding: 1rem 0.5rem;
  flex-grow: 1;
}

@media all and (min-width: 768px) {

  .dashboard-container {
    padding: 1rem;
  }
}

@media all and (max-width: 991px) {

  .dashboard-container {
    padding-block: 2rem;
  }
}