@use '../includes/classes';
@use '../includes/colors' as color;
@use '../includes/mixins' as mx;
@use '../includes/typography' as font;
@use '../includes/variables' as var;


.note-created,
.note-updated,
.note-username {
  display: none;
}

.note-status {
  font-weight: bold;
}

.note-status-open {
  color: color.$errorRed;
}

.note-status-completed {
  color: color.$successGreen;
}

thead,
tbody,
tr {
  display: contents;
}

.table {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  font-size: 1rem;
  color: color.$black;
  gap: 0.1em;
}

.table-button {
  padding: 0.25em;
  font-size: 1.25rem;
  color: color.$black;
}

.table-thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table-th,
.table-cell {
  background-color: color.$white;
  text-align: left;
  border: 1px solid color.$black;
  padding: 0.5em;
}

.table-th {
  font-size: 1.35rem;
  background-color: color.$lightBlack;
  color: color.$white;
  border-top: 2px solid color.$black;
  &:first-of-type {
    border-top-left-radius: 0.75rem;
  }
  &:last-of-type {
    border-top-right-radius: 0.75rem;
  }
}

tbody tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 0.75rem;
}

tbody tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 0.75rem;
}

tbody tr:nth-of-type(even) td {
  background-color: color.$lighterGrey;
}

.table-cell {
  font-size: 1rem;
}

.table-cell:last-child {
  display: grid;
  place-content: center;
}

.table-cell-inactive {
  background-color: color.$grey;
}

@media all and (min-width: 768px) {

  .note-created,
  .note-updated,
  .note-username {
    display: block;
  }

  .table-notes {
    grid-template-columns: repeat(3, 1fr) 2fr repeat(2, 1fr);
  }

  .table {
    font-size: 1.5rem;
  }
}