@use '../includes/classes';
@use '../includes/colors' as color;
@use '../includes/mixins' as mx;
@use '../includes/typography' as font;
@use '../includes/variables' as var;


.login {
  min-height: 90vh;
  @include mx.flexColCenter();
  flex-grow: 1;
  border-top: 2px solid color.$white;
  border-bottom: 2px solid color.$white;
  padding: 1em 0;
}