
@mixin flexRow($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flexRowCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexCol($justify, $align) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin flexColCenter() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin colorize($bg, $color) {
  background-color: $bg;
  color: $color;
}

@mixin btnStyle($bg, $color, $bdC, $bdR) {
  background-color: $bg;
  color: $color;
  border: 1px solid $bdC;
  border-radius: $bdR;
}